<script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZHJuaWMiLCJhIjoiY2pqM3ZvOXdwMGZmaDNwcG93OW5oMGsxNiJ9.a_cZZoJnB-VwmY596Wx5ew';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v10',
  center: [133.5,-24.25],
  zoom: 2
});
map.on('load', function () {
  map.addSource('airports', {
    type: 'geojson',
    data: '/airports.json'
  });
  map.addLayer({
      "id": "airports",
      "type": "symbol",
      "source": "airports",
      "layout": {
          "text-field": "{title}",
          "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
          "text-offset": [0, 0],
          "text-anchor": "top"
      }
  });
});
</script>
